* {
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-image: url("Images/dragon.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #696969;
}

.header {
    text-align: center;
    font-weight: 400;
    color: #696969;
    font-size: 28px;
}

.dragonContainer {
    overflow: auto;
    margin: 0 auto;
    width: 1200px;
}

.outerContainer {
    float: left;
    width: 25%;
    padding: 25px;
}

.dragonBox {
    padding-bottom: 15px;
    border: 1px solid gray;
    border-radius: 25px;
}

.dragonImage {
    height: 225px;
    width: 100%;
    border-radius: 25px;
}

.dragonName {
    text-align: center;
    font-size: 22px;
    color: #696969;
}

ul li {
    font-size: 18px;
    color: #696969;
    list-style: none;
    width: 70%;
    margin: 0 auto;
    line-height: 30px;
}

button {
    height: 40px;
    width: 200px;
    font-size: 22px;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 200;
    background-color: #1846B5;
    margin-top: 30px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.dragonButton {
    text-align: center;
    margin-bottom: 25px;
}

.addDragonContainer {
    display: block;
    margin: 0 auto;
    text-align: center;
}

input {
    display: block;
    margin: 0 auto;
    width: 25%;
}





@media only screen and (max-width: 1000px) {
    .outerContainer {
        width: 50%;
    }

    .dragonContainer {
        width: 600px;
    }

    .dragonImage {
        height: 300px;
    }
}

@media only screen and (max-width: 600px) {
    .outerContainer {
        width: 100%;
    }

    .dragonContainer {
        width: 300px;
    }

    .dragonImage {
        height: 300px;
    }
}
